                * {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                }
                
                body {
                    background-color: #012342;
                }
                
                .navbar {
                    position: fixed;
                    top: 0;
                    width: 100%;
                    padding: 7px 8%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    z-index: 1000;
                    background-color: #012342;
                }
                
                .logo {
                    font-size: 25px;
                    font-weight: bold;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    color: white;
                }
                
                .nav-links {
                    list-style: none;
                    font-weight: bold;
                    display: flex;
                    gap: 30px;
                }
                
                .nav-links a {
                    text-decoration: none;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    color: #ffffff;
                    font-weight: 500;
                }
                
                html {
                    scroll-behavior: smooth;
                }
                
                .nav-links a:hover {
                    color: #0651c1;
                }
                /* HERO SECTION */
                
                .main {
                    height: 60vh;
                    background-image: linear-gradient( rgba(0, 37, 70, 0.85), rgba(0, 43, 80, 0.85)), url("Screenshot\ 2025-12-20\ 194640.png");
                    background-size: cover;
                    background-position: center;
                    display: flex;
                    align-items: center;
                    padding-left: 8%;
                    color: #ffffff;
                }
                
                .main-content {
                    max-width: 600px;
                }
                
                .main-content h1 {
                    font-size: 48px;
                    margin-bottom: 1px;
                    letter-spacing: 1px;
                    opacity: 0.95;
                }
                
                .main-content h3 {
                    font-size: 22px;
                    font-weight: 400;
                    margin-bottom: 20px;
                    opacity: 0.80;
                }
                
                .main-content p {
                    font-size: 16px;
                    line-height: 1.6;
                    margin-bottom: 30px;
                    opacity: 0.9;
                }
                
                .main-content a {
                    text-decoration: none;
                    padding: 10px 20px;
                    background-color: #ffffff;
                    color: #003d64;
                    border-radius: 6px;
                    font-weight: bold;
                    transition: 0.3s;
                }
                
                .main-content a:hover {
                    background-color: #e4e4e4;
                }
                /*ABOUT SECION*/
                
                .About {
                    display: flex;
                    /* IMPORTANT */
                    justify-content: center;
                    /* Horizontal center */
                    align-items: center;
                    /* Vertical center */
                    text-align: center;
                    /* Center text lines */
                    color: #01294d;
                }
                
                .About-content h2 {
                    font-size: 55px;
                    font-weight: 500;
                    color: white;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
                
                .About-content p {
                    font-size: 17px;
                    font-weight: 501;
                    color: white;
                    padding-left: 17%;
                    padding-right: 15%;
                }
                
                .skills {
                    /* IMPORTANT */
                    justify-content: center;
                    /* Horizontal center */
                    align-items: center;
                    display: flex;
                    /* Vertical center */
                    text-align: center;
                    /* Center text lines */
                    color: #01294d;
                }
                
                .skills-content h2 {
                    font-size: 55px;
                    font-weight: 500;
                    color: white;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
                
                .portfolio {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 20px;
                    width: 900px;
                    height: 300px;
                    margin: 50px auto;
                }
                /* Box design */
                
                .box {
                    border: 2px solid #012342;
                    border-radius: 20px;
                    padding: 16px;
                    cursor: pointer;
                }
                /* Hide default arrow */
                
                .box summary {
                    list-style: none;
                    color: #ffffff;
                    font-size: 22px;
                    font-weight: bold;
                }
                
                .box summary:hover {
                    color: #0678be;
                }
                /* Smooth open effect */
                
                .box p {
                    margin-top: 10px;
                    font-size: 17px;
                    font-weight: bold;
                    color: #d1d5db;
                    animation: open 0.3s ease;
                }
                
                @keyframes open {
                    from {
                        opacity: 0;
                        transform: translateY(-5px);
                    }
                    to {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
                /* Mobile support */
                
                @media (max-width: 768px) {
                    .portfolio {
                        grid-template-columns: 1fr;
                    }
                }
                
                .project {
                    max-width: 1100px;
                    margin: 50px auto;
                    text-align: center;
                    color: #012342;
                }
                
                .project h2 {
                    font-size: 55px;
                    font-weight: 500px;
                    margin-bottom: 30px;
                    color: #ffffff;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
                }
                
                .project-grid {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
                    gap: 20px;
                }
                /* Card */
                
                .card {
                    background: #fff;
                    border-radius: 10px;
                    padding: 15px;
                    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
                    transition: transform 0.3s ease;
                }
                
                .card:hover {
                    transform: translateY(-8px);
                }
                
                .card img {
                    width: 100%;
                    border-radius: 8px;
                    margin-bottom: 10px;
                }
                
                .card h3 {
                    font-size: 18px;
                    margin: 10px 0;
                }
                
                .card p {
                    font-size: 14px;
                    color: #555;
                    margin-bottom: 15px;
                }
                
                .hidden {
                    opacity: 0;
                    transform: translateY(40px);
                    transition: all 0.8s ease;
                }
                
                .show {
                    opacity: 1;
                    transform: translateY(0);
                }
                
                .education {
                    display: flex;
                    /* IMPORTANT */
                    justify-content: center;
                    /* Horizontal center */
                    align-items: center;
                    /* Vertical center */
                    text-align: center;
                    /* Center text lines */
                    color: #01294d;
                }
                
                .education-content h2 {
                    font-size: 55px;
                    font-weight: 500;
                    color: white;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
                
                .education-content h6 {
                    font-size: 18px;
                    color: white;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
                
                .education-content p {
                    padding-left: 10%;
                    font-size: 16px;
                    color: white;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
                
                .contact {
                    color: #01294d;
                }
                
                .contact h2 {
                    display: flex;
                    /* IMPORTANT */
                    justify-content: center;
                    /* Horizontal center */
                    align-items: center;
                    /* Vertical center */
                    text-align: center;
                    /* Center text lines*/
                    font-size: 55px;
                    font-weight: 500;
                    color: white;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
                
                .contact-links {
                    margin-top: 20px;
                    display: flex;
                    justify-content: center;
                    gap: 80px;
                    color: #ffffff;
                    /* space between icons */
                }
                
                .contact-links a img {
                    color: #ffffff;
                    width: 40px;
                    height: 40px;
                    clip-path: circle(50%);
                    transition: transform 0.3s, filter 0.3s;
                }
                
                .contact-links a:hover img {
                    transform: scale(1.2);
                    filter: brightness(1.2);
                }